<div class="container" ng-controller="PageCtrl">
    <div class="col-md-4">
        <h2>Loan form</h2>
        <form ng-submit="loanAdd()">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="formData.amount" placeholder="Loan amount">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="formData.property_value" placeholder="Property value">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="formData.social_security" placeholder="Social security">
            </div>
            <input type="submit" class="btn btn-primary" value="Submit">
            <p>
                <div ng-if="formErrors.length > 0" class="alert alert-danger" role="alert">
                    <p ng-repeat="formError in formErrors">{{ formError }}</p>
                </div>
            </p>
        </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h2>Loan list</h2>
        <div ng-if="loansShowEmptyMessage" class="alert alert-warning" role="alert">Loans list is empty</div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
            </tr>
            </thead>
            <tr ng-repeat="loan in loans">
                <td>{{ loan.id }}</td>
                <td>{{ loan.status }}</td>
            </tr>
        </table>
    </div>
</div>