<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    <head>

        <!-- Meta-Information -->
        <title>Loan app</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Loan app">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body ng-app="tutorialWebApp">
        <div ng-view></div>

        <!-- Vendor: Javascripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <!-- Vendor: Angular, followed by our custom Javascripts -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.min.js"></script>

        <!-- Our Website Javascripts -->
        {% block javascripts %}
            <script type="application/javascript">
                var API_URL = "{{ app.request.getSchemeAndHttpHost() }}/api";
            </script>
            <script src="/js/main.js"></script>
        {% endblock %}
    </body>
</html>
